<p class="ie-container alert alert--error p-1 px-3 fs-6 text-center text-decoration-none mb-0 pb-0">
	<span>Inscrição Estadual válida obrigatória.</span>
	<small><a href="http://www.sintegra.gov.br" target="_blank">Mais info</a></small>
</p>
<small class="d-block">&nbsp;</small>