<div class="row mb-4">
    <div class="col-12 col-lg-5">
        <img class="img-less-margin lazyload image--fade-in" data-src="https://cdn.shopify.com/s/files/1/0507/3226/9775/files/noresults-image.png?v=1635439983"  alt="noresults-img">
    </div>
    <div class="col-12 col-lg-6 pt-lg-4 lato">
        <h3 class="display-2 fw-900-bold">ihh...</h3>
        <h4 class="fs-5">Nenhum resutado para <span class="fw-bold">{{ search.terms }}</span></h4>
        <p class="fs-5 secondary-p mb-0 col-6">Confira os itens mais destacados</p>
        {% include 'icon-arrow-down' %}
    </div>
</div>

<style>
    .img-less-margin{
        margin-top: -5px;
    }
    .secondary-p{
        color: #CDCDCD;
    }
</style>