<div class="d-flex align-items-center rrss-icons">
{% if facebook != blank %}
    <a href="{{ facebook }}">
        <svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M27.5059 13.5C27.5059 6.075 21.4309 0 14.0059 0C6.58086 0 0.505859 6.075 0.505859 13.5C0.505859 20.25 5.39961 25.8187 11.8121 26.8312V17.3812H8.43711V13.5H11.8121V10.4625C11.8121 7.0875 13.8371 5.23125 16.8746 5.23125C18.3934 5.23125 19.9121 5.56875 19.9121 5.56875V8.94375H18.2246C16.5371 8.94375 16.0309 9.95625 16.0309 10.9688V13.5H19.7434L19.0684 17.3812H15.8621V27C22.6121 25.9875 27.5059 20.25 27.5059 13.5Z" fill="#999999"/>
        </svg>    
    </a>
{% endif %}
{% if instagram != blank %}
    <a href="{{ instagram }}">
        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.0063 2.53125C17.7188 2.53125 18.225 2.53125 19.7437 2.53125C21.0938 2.53125 21.7687 2.86875 22.275 3.0375C22.95 3.375 23.4562 3.54375 23.9625 4.05C24.4688 4.55625 24.8062 5.0625 24.975 5.7375C25.1438 6.24375 25.3125 6.91875 25.4812 8.26875C25.4812 9.7875 25.4812 10.125 25.4812 14.0063C25.4812 17.8875 25.4812 18.225 25.4812 19.7437C25.4812 21.0938 25.1438 21.7687 24.975 22.275C24.6375 22.95 24.4688 23.4562 23.9625 23.9625C23.4562 24.4688 22.95 24.8062 22.275 24.975C21.7687 25.1438 21.0938 25.3125 19.7437 25.4812C18.225 25.4812 17.8875 25.4812 14.0063 25.4812C10.125 25.4812 9.7875 25.4812 8.26875 25.4812C6.91875 25.4812 6.24375 25.1438 5.7375 24.975C5.0625 24.6375 4.55625 24.4688 4.05 23.9625C3.54375 23.4562 3.20625 22.95 3.0375 22.275C2.86875 21.7687 2.7 21.0938 2.53125 19.7437C2.53125 18.225 2.53125 17.8875 2.53125 14.0063C2.53125 10.125 2.53125 9.7875 2.53125 8.26875C2.53125 6.91875 2.86875 6.24375 3.0375 5.7375C3.375 5.0625 3.54375 4.55625 4.05 4.05C4.55625 3.54375 5.0625 3.20625 5.7375 3.0375C6.24375 2.86875 6.91875 2.7 8.26875 2.53125C9.7875 2.53125 10.2938 2.53125 14.0063 2.53125ZM14.0063 0C10.125 0 9.7875 0 8.26875 0C6.75 0 5.7375 0.337501 4.89375 0.675001C4.05 1.0125 3.20625 1.51875 2.3625 2.3625C1.51875 3.20625 1.18125 3.88125 0.675001 4.89375C0.337501 5.7375 0.16875 6.75 0 8.26875C0 9.7875 0 10.2938 0 14.0063C0 17.8875 0 18.225 0 19.7437C0 21.2625 0.337501 22.275 0.675001 23.1187C1.0125 23.9625 1.51875 24.8062 2.3625 25.65C3.20625 26.4937 3.88125 26.8313 4.89375 27.3375C5.7375 27.675 6.75 27.8437 8.26875 28.0125C9.7875 28.0125 10.2938 28.0125 14.0063 28.0125C17.7188 28.0125 18.225 28.0125 19.7437 28.0125C21.2625 28.0125 22.275 27.675 23.1187 27.3375C23.9625 27 24.8062 26.4937 25.65 25.65C26.4937 24.8062 26.8313 24.1313 27.3375 23.1187C27.675 22.275 27.8437 21.2625 28.0125 19.7437C28.0125 18.225 28.0125 17.7188 28.0125 14.0063C28.0125 10.2938 28.0125 9.7875 28.0125 8.26875C28.0125 6.75 27.675 5.7375 27.3375 4.89375C27 4.05 26.4937 3.20625 25.65 2.3625C24.8062 1.51875 24.1313 1.18125 23.1187 0.675001C22.275 0.337501 21.2625 0.16875 19.7437 0C18.225 0 17.8875 0 14.0063 0Z" fill="#999999"/>
            <path d="M14.0063 6.75C9.95625 6.75 6.75 9.95625 6.75 14.0063C6.75 18.0562 9.95625 21.2625 14.0063 21.2625C18.0562 21.2625 21.2625 18.0562 21.2625 14.0063C21.2625 9.95625 18.0562 6.75 14.0063 6.75ZM14.0063 18.7312C11.475 18.7312 9.28125 16.7062 9.28125 14.0063C9.28125 11.475 11.3063 9.28125 14.0063 9.28125C16.5375 9.28125 18.7312 11.3063 18.7312 14.0063C18.7312 16.5375 16.5375 18.7312 14.0063 18.7312Z" fill="#999999"/>
            <path d="M21.4312 8.26875C22.3632 8.26875 23.1187 7.51323 23.1187 6.58125C23.1187 5.64927 22.3632 4.89375 21.4312 4.89375C20.4993 4.89375 19.7437 5.64927 19.7437 6.58125C19.7437 7.51323 20.4993 8.26875 21.4312 8.26875Z" fill="#999999"/>
        </svg>
    </a>
{% endif %}
</div>

<style>
    .rrss-icons a{
        margin-right: 1rem;
    }
    .rrss-icons{
        margin-left: 1rem;
        max-height: 2.8rem;
    }
    @media (max-width: 767px){
        .rrss-icons{
            margin-left: 0;
            margin-top: 0.5rem;
        }
    }
</style>