<section>
  <div class="container">
   <div class="cf-form" style="margin:60px auto; text-align:center; max-width:600px;">
     
    <header class="form__header">
      <h1 class="form__title heading h1">{{ 'customer.register.create_account' | t }}</h1>
      <p class="form__legend">{{ 'customer.register.description' | t }}</p>
    </header>
     
    {% render "customer-fields", form_id: "pvtGyl" %}
     
   </div>
  </div>
</section>