<section class="juridico p-0">
	<header class="text-center">
		<h1 class="page__title display-4 pb-5 color-main-100">{{ page.title }}</h1>
	</header>
	<div class="container px-md-5">
		<div class="page__content rte px-md-5 color-main-100">
			{{ page.content }}
		</div>
	</div>
</section>

<style>
	.juridico header {
		background-color: #EDFBF4;
	}

	header > .page__title {
		padding-top: 130px;
	}
</style>